* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.ol {
  outline: 1px solid;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 16px 0 16px;
}

.logo {
  position: relative;
}

.logo__circle-left {
  width: 30.37px;
  height: 32px;
  background: #316099;
  border-radius: 20px;
}

.logo__circle-right {
  width: 30.37px;
  height: 32px;
  border-radius: 20px;
  background: #ffffff;
  border: 2px solid #316099;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 1;
}

.menu-icon {
  width: 22.78px;
  height: 16px;
}

.top__content {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, rgba(152, 195, 232, 0.2)), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 41px;
}

.top__header-text {
  font-size: 32px;
  color: #1F3F68;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 36px 17px 0 16px;
}

.top__text {
  font-size: 16px;
  color: #1F3F68;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 26px;
  opacity: 0.6;
  margin: 12px 16px 32px 16px;
}

.button {
  display: block;
  width: 108px;
  height: 27px;
  border-radius: 10px;
  text-decoration: none;
  background: #5A98D0;
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button:hover {
  -webkit-box-shadow: 5px 10px 10px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 10px rgba(53, 110, 173, 0.2);
}

.button:active {
  -webkit-box-shadow: inset 5px 8px 8px rgba(53, 110, 173, 0.4);
          box-shadow: inset 5px 8px 8px rgba(53, 110, 173, 0.4);
}

.promo {
  padding: 0 20px;
}

.promo__header-text {
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  line-height: 28px;
}

.promo__main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__header-text {
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 48px;
}

.promo__box {
  margin-top: 32px;
  max-width: 359px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  position: relative;
}

.promo__box:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.promo__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 41px;
  margin-bottom: 48px;
}

.promo__img_cover {
  position: absolute;
  top: 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.promo__h3 {
  font-size: 20px;
  color: #1F3F68;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 30px;
  margin: 0 41px 0 30px;
}

.promo__text {
  font-size: 16px;
  color: #1F3F68;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 26px;
  opacity: 0.6;
  margin: 13px 55px 10px 30px;
}

.promo__link {
  display: block;
  width: 115px;
  height: 25px;
  margin-left: 30px;
  text-decoration: none;
  font-size: 14px;
  color: #5A98D0;
  font-weight: 400;
  letter-spacing: 0.05em;
  padding-top: 3px;
  padding-right: 10px;
  margin-bottom: 15px;
  position: relative;
}

.promo__link:hover {
  text-decoration: underline;
}

.promo__link:hover .promo__arrow {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.promo__arrow {
  position: absolute;
  top: 1px;
  left: 90px;
}

.finished {
  padding: 0 20px 64px 20px;
}

.finished__header-text {
  text-align: center;
  margin: 64px 16px 32px 16px;
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  line-height: 28px;
}

.finished__main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finished__text {
  text-align: center;
  font-size: 16px;
  color: #222222;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.05em;
  margin-bottom: 66px;
  padding: 0 calc((100% - 350px) / 2);
}

.finished__box {
  max-width: 343px;
  height: 144px;
  margin-top: 16px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.finished__box_bg1 {
  width: 100%;
  background-image: url("img/fin-box-1-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.finished__box_bg1::after {
  position: absolute;
  content: '';
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(89.97deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
  border-radius: 10px;
}

.finished__box_bg2 {
  background-image: url("img/fin-box-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.finished__box_bg3 {
  background-image: url("img/fin-box-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.finished__box_height {
  height: 255px;
}

.finished__img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 2;
}

.finished__img-big {
  display: none;
}

.finished__box-text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 19px;
  margin: 16px;
  position: relative;
  z-index: 1;
}

.finished__box-text_right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interested {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #316099;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.interested__header-text {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  margin: 16px 0 32px 0;
}

.interested__text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
  letter-spacing: 0.05em;
  opacity: 0.6;
  margin: 0 16px;
}

.interested__mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interested__link {
  display: block;
  width: 108px;
  height: 31px;
  margin: 40px 0;
  background-color: #5A98D0;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.04em;
  text-decoration: none;
}

.interested__link:hover {
  -webkit-box-shadow: 5px 10px 15px rgba(140, 155, 175, 0.2);
          box-shadow: 5px 10px 15px rgba(140, 155, 175, 0.2);
}

.interested__link:active {
  -webkit-box-shadow: inset 5px 8px 8px rgba(53, 110, 173, 0.4);
          box-shadow: inset 5px 8px 8px rgba(53, 110, 173, 0.4);
}

.contact {
  background: #316099;
  padding-top: 15px;
}

.contact__ul {
  list-style-type: none;
}

.contact__li {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 19px;
  padding: 17px 16px 0 56px;
}

.contact__li_add::before {
  content: 'A.';
  margin-left: -40px;
  margin-right: 23px;
}

.contact__li_tel::before {
  content: 'T.';
  margin-left: -40px;
  margin-right: 23px;
}

.contact__li_ema::before {
  content: 'E.';
  margin-left: -40px;
  margin-right: 23px;
}

.footer {
  padding: 32px 16px;
  background: #316099;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  letter-spacing: 0.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .top__img-mid {
    display: none;
  }
  .top__img-big {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 55px 36px 0 32px;
  }
  .top__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 190px;
    position: relative;
  }
  .top__header-text {
    font-size: 64px;
    color: #1F3F68;
    font-weight: 400;
    line-height: 74px;
    text-align: left;
    margin: 120px 0 0 32px;
    width: 520px;
  }
  .top__text {
    text-align: left;
    margin: 32px 0 72px 32px;
    width: 425px;
  }
  .top__img-mid {
    position: absolute;
    width: 394px;
    height: 333px;
    top: 280px;
    right: 16px;
  }
  .top__img-big {
    display: none;
  }
  .button {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.04em;
    width: 220px;
    height: 56px;
    margin-left: 32px;
  }
  .promo {
    padding: 0 32px;
  }
  .promo__header-text {
    font-size: 36px;
    color: #000000;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.05em;
    margin-top: 64px;
    margin-bottom: 32px;
  }
  .finished {
    padding: 0 32px 109px 32px;
  }
  .finished__header-text {
    font-size: 36px;
    color: #000000;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.05em;
    margin: 127px 32px 32px 32px;
  }
  .finished__text {
    padding: 0 calc((100% - 670px) / 2);
    margin-bottom: 32px;
    text-align: center;
  }
  .finished__main-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .finished__box_mid {
    min-width: 705px;
    height: 297px;
  }
  .finished__box {
    position: relative;
    margin-top: 32px;
  }
  .finished__box_bg1 {
    background-image: url("img/fin-box-1-bg-mid.png");
  }
  .finished__box_bg3 {
    margin-left: 20px;
  }
  .finished__box-text_right {
    position: absolute;
    top: 50px;
    left: 235px;
    font-size: 32px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.05em;
  }
  .finished__box-text {
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
    margin: 30px 0px 0px 20px;
  }
  .finished__img-big {
    display: none;
  }
  .interested {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 124px;
    margin-top: 109px;
  }
  .interested__mid {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .interested__header-text {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 336px;
    font-size: 36px;
    color: #ffffff;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
    margin-right: 184px;
    margin-top: 47px;
  }
  .interested__text {
    justify-self: flex-start;
    text-align: left;
    margin: 0 0 64px 0;
    width: 336px;
  }
  .interested__link {
    -ms-flex-item-align: start;
        align-self: flex-start;
    min-width: 133px;
    margin: 0 0 0 51px;
  }
  .interested__link:hover {
    -webkit-box-shadow: 5px 10px 15px rgba(140, 155, 175, 0.2);
            box-shadow: 5px 10px 15px rgba(140, 155, 175, 0.2);
  }
  .interested__link:active {
    -webkit-box-shadow: inset 5px 8px 8px rgba(53, 110, 173, 0.4);
            box-shadow: inset 5px 8px 8px rgba(53, 110, 173, 0.4);
  }
  .contact {
    padding-top: 39px;
    padding-left: 124px;
  }
  .contact__li {
    padding-top: 25px;
  }
  .contact__li_add::before {
    margin-left: -55px;
    margin-right: 37px;
  }
  .contact__li_tel::before {
    margin-left: -55px;
    margin-right: 37px;
  }
  .contact__li_ema::before {
    margin-left: -55px;
    margin-right: 37px;
  }
  .footer {
    padding: 64px 124px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 48px 117px 0 114px;
  }
  .top__img-mid {
    display: none;
  }
  .top__img-big {
    display: block;
    width: 649px;
    height: 549px;
    position: absolute;
    top: 79px;
    right: 70px;
  }
  .top__header-text {
    margin: 109px 0 0 113px;
  }
  .top__text {
    margin: 32px 0 72px 114px;
  }
  .button {
    margin-left: 114px;
  }
  .promo {
    padding: 0 113px;
  }
  .promo__main-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo__box {
    height: 475px;
  }
  .promo__box:nth-last-of-type(2) {
    margin-left: 32px;
  }
  .promo__box:nth-last-of-type(1) {
    margin-left: 32px;
  }
  .finished {
    padding: 0 113px 112px 113px;
  }
  .finished__header-text {
    margin: 64px 0;
  }
  .finished__text {
    padding: 0 calc((100% - 750px) / 2);
  }
  .finished__box_mid {
    min-width: 1140px;
    height: 480px;
  }
  .finished__img {
    display: none;
  }
  .finished__img-big {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 2;
  }
  .finished__box {
    max-width: 554px;
    width: 554px;
  }
  .finished__box_height {
    height: 417px;
  }
  .finished__box_bg1 {
    background-image: url("img/fin-box-1-bg-big.png");
  }
  .finished__box_bg3 {
    margin-left: 34px;
  }
  .finished__box-text_right {
    top: 64px;
    left: 720px;
  }
  .finished__box-text {
    margin: 32px;
  }
  .interested {
    padding: 0 212px 0 229px;
  }
  .interested__header-text {
    margin-top: 97px;
    width: 340px;
  }
  .interested__text {
    width: 495px;
    margin: 0 0 96px 0;
  }
  .interested__link {
    width: 237px;
    height: 56px;
  }
  .contact {
    padding: 64px 114px 64px 155px;
  }
  .contact__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__li {
    width: 317px;
  }
  .footer {
    padding: 0 0 64px 113px;
  }
}

.header, .top, .promo, .finished, .interested, .contact, .footer {
  margin: 0 auto;
  max-width: 1440px;
}
/*# sourceMappingURL=style.css.map */